.mainContainer {
  height: 100vh;
  width: 100%;
  background-color: #FFA1A1;
  margin-top: -21px;
  padding: 0;
}



.CaroselContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%
}